<base href="./">
<header id="header">
</header>
<div>
  <nav>
    <ul class="nav nav-justified">
      <li><a routerLink="/listagem">Usuários</a></li>
      <li><a routerLink="">Cadastro Usuário</a></li>
    </ul>
  </nav>
</div>
<div>
</div>
<router-outlet></router-outlet>