<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Hallison Melo</title>
	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="https://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
	<script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<link rel="stylesheet" href="../../assets/css/styles.css">
	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/template.js"></script>
	<script src="/assets/js/jS.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
</head>
<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>

<main id="main">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
				<th>Cidade</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of cardapios" id="{{item.id}}">
				<td>{{item.nome}}</td>
				<td>{{item.sobrenome}}</td>
				<td>{{item.idade}}</td>
				<td>{{item.cidade}}</td>
				<td><button class="btn btn-info" (click)="remove(item.id)">Excluir</button></td>
			</tr>
		</tbody>
	</table>
</main>
<footer id="underfooter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>Produção.</p>
				</div>
			</div>
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2017, Hallison Melo</p>
				</div>
			</div>
		</div>
		<!-- /row of widgets -->
	</div>
</footer>

</html>